*{
    margin: 50px
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
}

main{
    background-color: #333;
    color:#858585;
}

h1, h2{
    color: #ffffff;
}

header {
    background-color: #333;
    color: #858585;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #858585;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #858585;
}

main {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #333;
    color: #858585;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
